#root {
  display: flex;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section--books {
  display: flex;
  align-items: start;
 }

.books {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;

}
